go 1.25.0

use (
	./services/adminservice
	./services/authservice
	./services/billingservice
	./services/hostagent
	./services/provisioningservice
	./services/resourceservice
	./services/sdk
	./services/vmdaemon
)
