{{- if .Values.atlas.migration.enabled }}
apiVersion: db.atlasgo.io/v1alpha1
kind: AtlasMigration
metadata:
  name: host-atlas
  namespace: {{ .Values.global.namespace }}
spec:
  credentials:
    scheme: postgres
    host: {{ printf "%s.%s.svc.cluster.local" .Values.postgres.dns .Values.global.namespace | quote }}
    port: {{ .Values.atlas.migration.port }}
    database: {{ .Values.atlas.migration.database | quote }}
    parameters:
      sslmode: {{ .Values.atlas.migration.sslmode | quote }}
    userFrom:
      secretKeyRef:
        name: {{ .Values.atlas.migration.credentialsSecretName }}
        key: {{ .Values.atlas.migration.usernameKey }}
    passwordFrom:
      secretKeyRef:
        name: {{ .Values.atlas.migration.credentialsSecretName }}
        key: {{ .Values.atlas.migration.passwordKey }}
{{- if eq .Values.atlas.migration.mode "local" }}
  dir:
    configMapRef:
      name: {{ .Values.atlas.migration.configMapName | quote }}
{{- else }}
  dir:
    remote:
      name: {{ required "atlas.migration.remoteDirName is required when atlas.migration.mode=remote" .Values.atlas.migration.remoteDirName | quote }}
      tag: {{ .Values.atlas.migration.remoteDirTag | quote }}
{{- end }}
{{- end }}
