{{- if .Values.atlas.migration.enabled }}
apiVersion: db.atlasgo.io/v1alpha1
kind: AtlasMigration
metadata:
  name: host-atlas
  namespace: {{ .Values.global.namespace }}
spec:
  urlFrom:
    secretKeyRef:
      name: {{ .Values.atlas.migration.urlSecretName }}
      key: {{ .Values.atlas.migration.urlSecretKey }}
{{- if eq .Values.atlas.migration.mode "local" }}
  dir:
    configMapRef:
      name: {{ .Values.atlas.migration.configMapName | quote }}
{{- else }}
  dir:
    remote:
      name: {{ required "atlas.migration.remoteDirName is required when atlas.migration.mode=remote" .Values.atlas.migration.remoteDirName | quote }}
      tag: {{ .Values.atlas.migration.remoteDirTag | quote }}
{{- end }}
{{- end }}
